/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul,li {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	html {
		height: 100%;
	}
	body {
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

/* #Typography
================================================== */

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: none; }
	h1 { margin-bottom: 15px; }
	h2 { margin-bottom: 15px; }
	h3 { margin-bottom: 15px; }
	h4 { margin-bottom: 15px; }
	h5 { margin-bottom: 15px; }
	h6 { margin-bottom: 15px; }

	p { margin: 0 0 15px 0; }

	em, i 			{ font-style: italic; }
	b, strong 		{ font-weight: bold; }
	big, .big 		{ font-size: 110%; line-height: 180%; }
	
	dt { font-weight:bold;}


/* #Links
================================================== */
	a, a:visited, a:focus { text-decoration: none; outline: 0; }
	a:hover { text-decoration: underline; }
	p a, p a:visited { line-height: inherit; }


/* #Images
================================================== */

	img.scale-with-grid,
	#Content img {
		max-width: 100%;
		height: auto;
	}
	
	.google-map img {
		max-width:none !important;
	}
	
	iframe {
		max-width: 100%;
	}


/* #Buttons
================================================== */

	a.tp-button{
		background: none;
		font-family: inherit !important;
		height: auto !important;
		line-height: inherit !important;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		letter-spacing: 0 !important;
		text-shadow: 0 0 0 !important;
		box-shadow: 0 0 0 !important;
		font-weight: normal !important;
		border-width: 1px !important;
	}

	a.button, a.tp-button, button, input[type="submit"], input[type="reset"], input[type="button"] {
		display: inline-block;
		padding: 11px 20px;
		margin-bottom: 15px;
		cursor: pointer;
		margin-right: 7px;
		border: 0;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		position: relative;
		overflow: hidden;
		-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.03);
		box-shadow:inset 0 0 0 1px rgba(0,0,0,.03);
		background-image: url(box_shadow_button.png);
		background-repeat: repeat-x;
	}
	a.button_js {
		padding: 0;
	}
	
	a.button.button_large,
	a.tp-button.button_large,
	button.button_large,
	input[type="submit"].button_large,
	input[type="reset"].button_large,
	input[type="button"].button_large {
		font-size: 110%;
		line-height: 110%;
	}
	
	/* Button label & icon */
	a.button .button_label { display: block; float: left; position: relative; z-index: 2; }	
	a.button .button_icon { display: block; float: left; background: rgba(0,0,0,.05); }
	
	a.button .button_icon i { color: rgba(0,0,0,.5); }
	
	/* Button icon left */
	a.button.button_left .button_icon,
	a.tp-button.button_left .button_icon { float: left; }
	
	a.button.button_right .button_icon,
	a.tp-button.button_right .button_icon { float: right; }
	
	/* Paddings */
	a.button .button_label { padding: 11px 20px; }	
	a.button .button_icon { padding: 11px 13px; }
	
	a.button_large .button_label { padding: 15px 30px; }
	a.button_large .button_icon { padding: 15px 13px; }
	
	/* Hover */
	@media only screen and (min-width: 768px){
		a.button:after, a.tp-button:after, button:after, input[type="submit"]:after, input[type="reset"]:after, input[type="button"]:after {
			content: ""; position: absolute; left: 0; top: 0; height: 100%; width: 0; z-index: 1; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; background: rgba(0,0,0,.05);
		}
			
		a:hover.button, a:hover.tp-button { text-decoration: none; }
		a.button:hover:after, a.tp-button:hover:after, button:hover:after, input[type="submit"]:hover:after, input[type="reset"]:hover:after, input[type="button"]:hover:after {
			width: 100%;
		}
	}
	
/* #Buttons stroke
================================================== */
	.button-stroke {}
	
	.button-stroke a.button:not(.action_button),
	.button-stroke:not(.header-plain) a.button.action_button,
	.button-stroke a.tp-button,
	.button-stroke button,
	.button-stroke input[type="submit"],
	.button-stroke input[type="reset"],
	.button-stroke input[type="button"] {
		border-width: 2px;
		border-style: solid;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background-color: transparent !important;
		-webkit-box-shadow:inset 0 0 0 0;
		box-shadow:inset 0 0 0 0;
		background-image: none;
	}
	
	.button-stroke a.button:not(.action_button):after,
	.button-stroke:not(.header-plain) a.button.action_button:after,
	.button-stroke a.tp-button:after,
	.button-stroke button:after, 
	.button-stroke input[type="submit"]:after, 
	.button-stroke input[type="reset"]:after, 
	.button-stroke input[type="button"]:after {
		display: none;
	}
	
	.button-stroke a:hover.button:not(.action_button),
	.button-stroke:not(.header-plain) a:hover.button.action_button,
	.button-stroke a:hover.tp-button,
	.button-stroke button:hover,
	.button-stroke input[type="submit"]:hover,
	.button-stroke input[type="reset"]:hover,
	.button-stroke input[type="button"]:hover {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		background-color: #828282;
	}
	
	
	.button-stroke a:hover.button.button_stroke_custom:not(.action_button),
	.button-stroke:not(.header-plain) a:hover.button.button_stroke_custom.action_button,
	.button-stroke a:hover.tp-button.button_stroke_custom {
		background-color: rgba(0,0,0,.05) !important;
	}
				
	
	/* Button icon */
	.button-stroke a.button .button_icon { background: none; }
	.button-stroke a:hover.button .button_icon i,
	.button-stroke a.button.button_theme:hover .button_icon i { color: rgba(0,0,0,.5) !important; }

	/* Paddings */
	.button-stroke a.button_left.button .button_label,	
	.button-stroke a.button_left.button_large .button_label { padding-left: 0px; }
	.button-stroke a.button_right.button .button_label,	
	.button-stroke a.button_right.button_large .button_label { padding-right: 0px; }

	.button-stroke a.button_left.button_large .button_icon { padding-left: 27px; }
	.button-stroke a.button_right.button_large .button_icon { padding-right: 27px; }


	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner, input::-moz-focus-inner {
    	border: 0;
    	padding: 0;
	}


		.slideBox{ width:100%;overflow:hidden; position:relative; }
		.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:48%; bottom:5px; z-index:1; }
		.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		.slideBox .hd ul li.on{ background:#f00; color:#fff; }
		.slideBox .bd{ position:relative; height:100%; z-index:0;   }
		.slideBox .bd li{ zoom:1; vertical-align:middle; }
		.slideBox .bd img{ width:100%; display:block;  }

		/* 下面是前/后按钮代码，如果不需要删除即可 */
		.slideBox .prev,
		.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
		.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
		.slideBox .prev:hover,
		.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
		.slideBox .prevStop{ display:none;  }
		.slideBox .nextStop{ display:none;  }


.content{width:960px;margin:60px auto;background:#fff}	
.clearfix{clear:both}

.active{background:#fff;border-top:4px solid #000;}


.service{height:380px;width:960px;margin:0 auto;background:#fff;margin-top:65px;}
.s-l{width:60%;float:left;}
.s-l-img,.s-l-img img{width:96%;padding:5px;}
.s-l-img{position: relative;}
.hide{display: none}


.s-r{width: 40%;float: right;padding-top: 10px}
.s-r-t img{width:95%;}
.s-r-4 img{width:44%;float:left;padding:33px 23px 0 0;}
.wrap960{width:980px;margin:10px auto;padding-left: 0px;}
.san-1{width:31%;margin:0 11.3px;float:left;background: #fff;height: 350px;text-align: center}
.san-title{width:90%;border-left:5px solid #DF0814;padding-left:8px;color:#fff;background: #DF0814;margin:6px auto;font-weight: bold;text-align: left}
.san-img{width:94%;margin:0 auto;}
.san-img img{width:100%;}
.san-1 p{text-align: left;padding:20px 6px 0;}
.henxian{border-top:1px solid #808080;width:960px;}


#CalendarMain {
	width: 286px;
	height: 300px;
	
	margin: 0 auto;
	
}
#title {
	width: 100%;
	height: 30px;
	background-color: #b9121b;
}
.selectBtn {
	font-weight: 900;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	padding: 4px 10px 3px 10px;
}
.selectBtn:hover {
	background-color: #000;
	color:#fff;
}
.selectYear {
	float: left;
	margin-left: 50px;
	position: absolute;
	left:75%;
}
.selectMonth {
	float: left;
	margin-left: 120px;
	position: absolute;
	left:76%;

}
.month {
	float: left;
	position: absolute;
	left:72%;
}
.nextMonth {
	float: right;
}
.currentDay {
	float: right;
}
#context {
	background-color: #fff;
	width: 100%;
}
.week {
	width: 100%;
	height: 30px;
}
.week>h3 {
	float: left;
	color: #808080;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 16px;
}
.dayItem {
	float: left;
}
.lastItem {
	color: #d1c7b7 !important;
}
.item {
	color: #333;
	float: left;
	text-align: center;
	cursor: pointer;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 13px;
}
.item:hover {
	color: #fff;
}
.currentItem>a {
	background-color: #b9121b;
	width: 25px;
	line-height: 25px;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
}
#foots {
	width: 100%;
	height: 35px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	margin-top: -1px;
}
#footNow {
	float: right;
	margin: 6px 15px 0 0;
	color: #009ad6;
	font-family: "微软雅黑";
}
#Container {
	overflow: hidden;
	float: left;
}
#center {
	width: 100%;
	overflow: hidden;
}
#centerMain {
	width: 300%;
	margin-left: -100%;
}
#selectYearDiv {
	float: left;
	background-color: #fff;
}
#selectYearDiv>div {
	float: left;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
	color: #909090;
}
.currentYearSd, .currentMontSd {
	color: #ff4400 !important;
}
#selectMonthDiv {
	float: left;
	background-color: #fff;
}
#selectMonthDiv>div {
	color: #909090;
	float: left;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
}
#selectYearDiv>div:hover, #selectMonthDiv>div:hover {
	background-color: #efefef;
}
#centerCalendarMain {
	float: left;
}

.wrap-team{background: #fff;width:960px;}
.team-title{width:97%;border-left:5px solid #DF0814;padding-left:8px;color:#fff;background: #DF0814;margin:6px auto;font-weight: bold;text-align: left;margin-top:10px;}

.Div1{width:1000px;height:auto;margin:0px auto;overflow:hidden;position:relative;}
.Div1_title{height:32px;width:1000px;padding-bottom:3px;}
.Div1_title em{float:left;font-style:normal;line-height:32px;padding-left:13px;font-size:14px;}
.Div1_title span{float:right;display:block;padding:8px 15px 0 0;height: 20px;}
.Div1_title span b , .Div1_title span a{display:block;float:left;}
.Div1_title span b , .Div1_title span b img{width:11px;height:11px;}
.Div1_title span b img{cursor:pointer;}
.Div1_prev{padding:2px 10px 0 0;}
.Div1_next{padding:2px 0 0 0px;}
.Div1_title span a{font-size:12px;background:url(lizi_img005.jpg) no-repeat left center; padding-left:15px;margin-right:10px;}

.Div1_title span a.Div1_title_a1{color:#f34d01;}

.Div1_main{padding-top:13px;height:290px;width:10000px;overflow:hidden;position:relative;z-index:1;}
.Div1_main div{width:1000px;height:480px;float:left;}
.Div1_main div span{width:156px;padding:0 16px;height:220px;display:block;float:left;}
.Div1_main div span a{display:block;}
.Div1_main_a1{padding:4px 3px 4px 4px;margin-bottom:4px;}
.Div1_main_a1 , .Div1_main_a1 img{width:165px;height:220px;}
.Div1_main div span b{display:block;padding-left:10px;color:#787878;}
.Div1_main div span p{line-height:20px;padding:0 10px;height:87px;color:#787878;}
.Div1_main_a2{width:172px;height:25px;color:#fff;background:#444;text-align:center;line-height:19px;font-weight: bold;font-size: 12px;line-height:25px;}
.Div1_main_a2:hover{color:#fff;text-decoration: none}
.Div1_main_a3{width:172px;height:20px;color:#fff;background:#df0814;text-align:center;line-height:19px;font-weight: bold;font-size: 12px;line-height:20px;}
.Div1_main_a3:hover{color:#fff;text-decoration: none}

.Div1_main div span.Div1_main_span1 .Div1_main_a1{}
.Div1_main div span.Div1_main_span1 b , .Div1_main div span.Div1_main_span1 p{color:#33a0ff;}
.Div1_main div span.Div1_main_span1 .Div1_main_a2{}


.Div1 .Div1_prev1 ,.Div1 .Div1_next1{display:block;width:31px;height:30px;position:absolute;cursor:pointer;z-index:2;top:102px;}
.Div1 .Div1_prev1 img ,.Div1 .Div1_next1 img{width:31px;height:30px;}
.Div1 .Div1_prev1:hover ,.Div1 .Div1_next1:hover{opacity:0.7;.filter:alpha(opacity=70)}
.Div1 .Div1_prev1{left:18px;}
.Div1 .Div1_next1{left:913px;}

.wz-title{    font-size: 30px;
    color: #DE000D;
    text-align: center;
    /*height: 50px;*/
    line-height: 50px;
    border-bottom: 5px solid #e8e8e8;}